@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body {
	height:100%;
	overflow:hidden;
}
.header {
	padding: 15px 0;
	background:white;
}
.menu {
	display: flex;
    justify-content: center;
	align-items: center;
	height:100%;
	float:right;
}
.menu a {
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 0 25px;
	font-size: 20px;
}
.menu li {
	list-style:none;
}
.menu li:hover {
	border-bottom: 2px solid black;
	color: black;
}
/*banner-1*/
.banner-1{
	background:white;
}
.intro  h1{
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-align:center;
}
.intro {
	text-align: center;
	padding: 100px 0 50px 0;
	
}
/*banner-1*/
/*banner-2*/
.banner-2{
	background-color:black;
	position:relative;
}
.text {
	align-items:center;	
}
.text h1{
	color:black;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	z-index:10;
}
.text h1:hover {
	color:white;
	text-shadow:none;
	transition: .5s linear;
}
.icon {
	font-size: 50px;
	float:right;
	align-items:center;	
}
.text-letter {
	position: relative;
}
.text-text{
	color:white;
	font-size:40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	top:150px;
	text-align:right;
}
.text-text p:hover {
	transform: scale(1.1);
	transition: .5s linear;
}
.ten:hover {
	border-bottom: 3px solid white;
	transition: .5s linear;
	color: black;
	text-shadow: -.5px -.5px 0 white, .5px -.5px 0 white, -.5px .5px 0 white, .5px .5px 0 white ;
	
	
}

.text-name {
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	font-size:20px;
	padding: 50px 0;
}
.introduce {
	line-height:25px;
}
.social-icon a {
	padding: 0 20px 0 0px;
	text-align:center;
}
.social-icon a:hover {
	transform: scale(1.1);
	transition: .5s linear;
}
/*banner-2*/