@charset "UTF-8";
/* CSS Document */
.wrapper {
	background:#f9f8ff;
}
.header {
	padding: 32px 60px;
	position: absolute;
	width:100%;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}

.menu a {
	text-decoration: none;
	color: white;
	margin: 0 16px;
	font-size: 16px;
	font-weight:500;
	
}
.btn-primary {
	text-decoration: none;
	color: #57B3FE;
	padding: 12px 16px;
	background: white;
	text-transform: uppercase;
	border-radius: 20px;
}
/*main*/
.banner {
	height: 1480px;
	background:url("../image/Mask Group.png"),#F8F9FF;
	background-repeat: no-repeat;
	background-size: 100%;
	
	
}

.text-box {
	text-align: center;
	padding: 160px 0 110px; 
	color:white;
}

.text-box h1 {
	font-size: 68px;
	font-weight: 500;
}

.text-box p {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 60px
}
.text-box a {
	margin-top: 60px;
}
.desktop {
	text-align: center;
}
/*banner*/

.banner-2 {
	background:url("../image/bg 2.png"),#F9F8FF;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 880px;
	padding-bottom: 180px;
}
.features{
	width: 538px;
}
.features span {
	color: #00A077;
	text-transform: uppercase;
	font-size:12px;
	font-weight: 700;
	letter-spacing: 0.15em;
}
.features h1 {
	color: black;
	font-size:48px;
	font-weight: 122%;
}
.content-sv p{
	color: #595E64;
}
.icon-box {
	background: white;
	padding: 50px 23px 70px 41px;
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}
.icon-box-2 .icon-sv img{
	padding:13px;
	background: #E7F2EF;
	border-radius: 15px;
}
.icon-box-3 .icon-sv img{
	padding:13px;
	background: #FAF3D8;
	border-radius: 15px;
}
.icon-box-4 .icon-sv img{
	padding:13px;
	background: #C0F2EF;
	border-radius: 15px;
}
.icon-box-5 .icon-sv img{
	padding:13px;
	background: #EDE7F2;
	border-radius: 15px;
}
.icon-box-6 .icon-sv img{
	padding:13px;
	background: #D8F0FA;
	border-radius: 15px;
}
.icon-box .icon-sv img{
	padding:13px;
	background: #FFE7DB;
	border-radius: 15px;
}

.icon-box-2 {
	background: white;
	padding: 50px 23px 49px 41px; 
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}

.icon-box-3 {
	background: white;
	padding: 50px 23px 74px 41px; 
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}

.icon-box-4 {
	background: white;
	padding: 50px 23px 68px 41px;
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}

.icon-box-5 {
	background: white;
	padding: 50px 23px 67px 41px; 
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}
.icon-box-6 {
	background: white;
	padding: 50px 23px 67px 41px;
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}
/*banner-3*/
.banner-3{
	height:1830px;
	background:url("../image/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.intro {
	text-align: center;
	padding:190px 0 32px 0;
}
.intro span {
	text-transform: uppercase;
	font-weight: 700;
    font-size: 12px;
	letter-spacing: 0.15em;
	color: #FFFFFF;
	opacity: 0.5;
}
.intro h1{
	font-weight: 500;
    font-size: 48px;
	color:white;
}
.intro p{
	font-weight: 400;
    font-size: 20px;
	line-height: 34px;
	color:white;
}
.number-tag{
	display:flex;	
	background:white;
	padding: 40px 65px 30px 40px;
	box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}
.tag-items{
	display: flex;
}

.tag-ct {
	padding-left:69px;
	padding-top:80px;
	
}
.tag-ct h1{
	color: #3B3E43;
	font-size: 22px;
	font-weight: 700;
}

.tag-ct p{
	color:#595E64;
    font-size: 16px;
	font-weight: 400;
}
.box .icon img{
	padding:13px;
	border-radius: 15px;
	background:#DAE6FF;
}
.box .icon-2 img{
	padding:13px;
	border-radius: 15px;
	background: #E9E5FF;

;
}
.box .icon-3 img{
	padding:13px;
	border-radius: 15px;
	background:#CEEDFF;
}

/*banner-4*/

.banner-4 {
	background:#f9f8ff;
}

.brand-intro{
	text-align: center;
	width:897px;
}
.brand-intro span{
	letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #00A077;
    opacity: 0.5;
	font-size:12px;
	font-weight: 700; 
	
}
.brand-intro h1{
    color: #3B3E43;
	font-size:48px;
	font-weight: 500; 
	
}

.brand-clients{
	display:flex;
	height:100%;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
}
.brand-clients img{
	padding:0 50px;
}


.brand{
	background:#f9f8ff;
	align-items: center;
	justify-content: center;
	padding: 185px 0;
}
/*banner-5*/

.banner-5{
	height:817px;
	background:url("../image/base.png");
}
.working{
	align-items: center;
	justify-content: center;
	height:100%;
	
}
.content-work{
	padding:150px 0;
}

.content-work span{
	font-weight: 700;
   font-size: 12px;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #FFFFFF;
   opacity: 0.5;
	
}
.content-work h1{
	font-size: 48px;
	font-weight: 500;
	color:white;
	width:416px;
	
}
.content-work p{
	font-size:400;
	font-weight:20px ;
	color:white;
	width:408px;
}
.content-work a{
	margin-top:50px;
}