@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header {
	padding: 15px 0;
	background:white;
	height:100%;
}
.menu {
	display: flex;
    justify-content: center;
	align-items: center;
	height:100%;
	float:right;
}
.menu a {
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	padding: 0 25px;
	font-size: 15px;
}
.menu li {
	list-style:none;
}
.menu li:hover {
	color: #FF6701;
}
.menu a:hover {
	color: #FF6701;
}
.logo img {
	padding: 0 10px;
}
.mail {
	font-size: 15px;
}
/*banner-1*/
.banner-1{
	background:white;
	height:100vh;
}
.intro  h1{
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-align:center;
}
.intro {
	text-align: center;
	padding: 100px 0 50px 0;
	
}
.start {
	padding-top:25px;
	line-height:50px;
	letter-spacing: 1.5px;
}
.start h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black ;
	color:white;
}
.start a{
	text-decoration:none;
	color:black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
}
.start span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
}
.into:hover {
	border-bottom: 4px solid black;
	color:black;
}
/*banner-1*/
/*banner-2*/
.banner-2{
	background-color:black;
	position:relative;
}
.text {
	align-items:center;	
}
.text h1{
	color:black;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white ;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	z-index:10;
}
.text h1:hover {
	color:#FF6701;
	text-shadow:none;
	transition: .5s linear;
	align-self: flex-end;
}
.icon {
	font-size: 50px;
	float:right;
	align-items:center;	
}
.text-letter {
	position: relative;
}
.text-text{
	color:white;
	font-size:40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	top:150px;
	text-align:right;
}
.text-text p:hover {
	transform: scale(1.1);
	transition: .5s linear;
}

.text-name {
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	font-size:20px;
	padding: 50px 0;
}
.introduce {
	line-height:25px;
}
.social-icon {
	padding: 10px 0;
}
.social-icon a {
	padding: 0 20px 0 0px;
	text-align:center;
	height:100%;
}
/*banner-2*/
/*banner-3*/
.banner-3 {
}
.design {
	text-align:right;
	align-items: center;
}
.design img:hover{
	transition: .2s linear;
	transform: scale(1.2);
}
.title h1 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 70px;
	color:white;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black ;
	
}
.title h1:hover {
	color:#ff6701;
	text-shadow:none;
	transition: .5s linear;
}
/*slide*/
.carousel:hover {
	transform: scale(1.2);
	overflow:hidden;
}

/*banner-4*/
@media only screen and (max-width:415px){
	   .col-xs-8{
		   width:66.66% !important;
	   }
	   .col-xs-4{
		   width:33.33% !important;
	   }
	   .menu {
		   position: fixed;
		   display:none;
		   flex-direction: column;
		   background: black ;
		   left:0;
		   top:0;
		   width:100%;
		   height:100vh;
		   z-index:100;

	   }
	   .menu a{
		   padding: 1rem 0;
		   font-size: 1rem;
		   
	   }
	   .close-nav {
		   display: block!important;
		   font-size: 1rem;
		   font-weight: 700;
		   color:white;
		   padding: 1rem 0;
		   cursor: pointer;
		   
	   }
	   .logo img {
		   width:50% !important;
	   }
	   .nav-mobile {
		   display:block !important;
		   cursor: pointer;
		   font-size:30px;
		   padding: 20px 10px 0;
		   z-index:10;
		   color: white !important;
	   }
	   .icon {
		  height: 100% !important;
		  font-size:2rem !important;
		  align-items: center!important;
		  justify-content: center !important;
		  padding-right: 1rem;
	   }
	   .text {
		   width:100% !important;
		   align-self: center;
		   text-align: center;
	   }
		.text h1{
		   font-size: 3rem!important;
		   color: #ff6701 !important;
		   text-shadow: none!important;
	   }
}
.banner-4 {
	background-color:black;
}

.gallery img:hover{
	transform: scale(1.1);
	transition: .2s linear;
}
/*banner-4*/







